<section class="container">
		<section class="row">
			<div class="col-xs-12 col-sm-6 left">
				<form method="post" action="#" role="login">

				<%= image_tag "getplaydlogo.png", class: "img-responsive" %>

				<h1>Log In to Get Playd!</h1>

				<%= form_for :login do |f| %>
					<div>
					<%= f.label :email %>
					<%= f.text_field :email, class: "form-control input-lg"  %>
					</div>
					<div>
					<%= f.label :password %>
					<%= f.password_field :password, class: "form-control input-lg" %>
					</div>

					<div>
						<%= f.submit "Log In", class: "btn btn-block btn-success btn-lg", id: "login" %>

					</div>
					<%= link_to "Click here to sign up if you are not yet a member", signup_path %>

				<% end %>
				</form>
			</div>
			<div class="hidden-xs col-sm-6 right">
				<%= image_tag "dogsplaying.jpg", class: "img-responsive"%>

			<%= image_tag "dog_login.jpg", class: "img-responsive", size: "345" %>
			</div>
		</section>
	</section>