<% if current_dog %>
	<h4> You are logged in, <%= @current_dog.name %>! Now get some playdates set up! WOOF! </h4> 
	<%= link_to "Log Out", logout_path, {method: :delete} %>
	<!-- Session user id: <%= session[:dog_id] %> -->
<% end %>

<h1>Browse for playdates for <%= @current_dog.name %>!</h1>

<% @dogs.each do |dog| %>
		<%= image_tag(dog.image.url(:thumb), class: "style_image") %>
		
  		<%= dog.name %> is a <%= dog.age %> year old <%= dog.breed %> from  <%= dog.city %> 
  		<%= link_to "More Info" , dog %>
      <br>

<% end %>

<%= link_to "Add a dog", new_dog_path %>




