
<h1>Party on with these pups!</h1>

<% @dogs.each do |dog| %>
	
		<%= image_tag(dog.pic, height: "150px", class: "style_image" ) %>
  		<%= dog.name %> is a <%= dog.age %> year old <%= dog.breed %> from  <%= dog.city %> 
  		<%= link_to "More Info" , dog %>
  		<%= link_to "Edit" , edit_dog_path(dog) %>
  		<%= link_to "Remove" , dog, method: :delete, data: {confirm: "Are you sure?" } %>
      <br>
  	

<% end %>


<p>Session user id: <%= session[:dog_id] %></p>

<%= link_to "New dog", new_dog_path %>

<%= link_to "Log Out", logout_path, {method: :delete} %>


